@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
	font-family: 'pixelfont';
	src: URL('./assets/font/LeaderBoardFont.TTF') format('truetype');
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}

.div1 {
  grid-area: 1 / 2 / 3 / 5;
  text-align: center;
}
.div2 { grid-area: 3 / 1 / 4 / 2;
  float: left;
      text-align: center;
      margin-left: 10rem}
.div3 { grid-area: 3 / 5 / 4 / 6;
      float: right;
      text-align: center;
  margin-right: 10rem;}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: #e5e5e5;
	font-family: 'Roboto', sans-serif;
}

.app-header {
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.main-wrapper {
	height: 100%;
}

.positronx {
	text-decoration: none;
	color: #ffffff;
}

.box {
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 60px 50px 40px 50px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	max-width: 330px;
}

.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: -20px;
	opacity: .8;
	z-index: -1;
}

.box:before {
	content: "";
	width: 100%;
	height: 30px;
	border-radius: 10px;
	position: absolute;
	top: -10px;
	background: rgba(255, 255, 255, .6);
	left: 0;
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	z-index: -1;
}

.main-wrapper .example-form {
	min-width: 100%;
	max-width: 300px;
	width: 100%;
}

.main-wrapper .example-full-width,
.main-wrapper .btn-block {
	width: 100%;
}

.main-wrapper mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.main-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin: 0;
}

.main-wrapper .mat-card {
	padding: 45px 70px 55px;
}

.main-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
	background: #e5e5e5;
}

.main-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
}

.flexExpand {
    flex: 1 1 auto;
}

table {
	width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html::-webkit-scrollbar{
	width: 1.5vh;
}

html::-webkit-scrollbar-thumb{
	background-color: #4f291c84;
	border-radius: 2vh;
}

html::-webkit-scrollbar-thumb:hover{
	background-color: #4F291C;;
}

html::-webkit-scrollbar-track{
	background-color: #7C4D2B;
}

html::-webkit-scrollbar-track:hover{
	background-color: #7c4d2ba2;
}